<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login layer</title>
</head>
<body>

    <h1>搜索测试</h1>
    <p>测试表单搜索填写，并且输入到当前页面</p>

    <span style="position: absolute; top: 100px; left: 10px;">
    <form action = "/login" method = "POST">
        <p><b>Enter Name:</b></p>
        <input type="text"  rows="4" cols="60" placeholder="请输入...."
                   name='nm' style="height:38px;width:480px;">
        <button type="submit" class="search-submit" style="height:35px;width:60px;">
            提交
        </button>
    </form>
    </span>

    <span style="position: absolute; top: 210px; left: 10px;">
        <p><b>运行结果：</b></p>
    </span>

    <span style="position: absolute; top: 250px; left: 10px;">
    <label for="test1"></label>
    <textarea id="test1" style="width:600px; height: 200px;border: 1px #ccc solid;">
        {{ tips }}
    </textarea>
    </span>

</body>
</html>